body{
   font-family: 'Montserrat', sans-serif;
}

/*utility Classes*/
.img-responsive {
   max-width: 100%   ;
}

.hero_image{
   background: url(myProject/heroimage.jpg) no-repeat;
   -webkit-backgroud-size: cover;
   background-size: cover;
height: 100vh;
}
.hero_wrapper{
   color: whitesmoke;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.hero_wrapper h1{
   font-size: 2.4rem;
   text-align: center;

}

.hero_wrapper span{
   margin-left: 5rem;
   display: inline-block;
   margin-bottom: 1rem;
}

.form_code{
   text-align: center;
}
.form_code .post_code{
   display: block;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 2rem;
   padding: 1rem;
   border: none;
   outline: none;
}
.form_code button{
   width: 40%;
   text-align: center;
background-color: #00bab1;
color: white;
padding: .4rem;
margin: 1rem auto 0rem;
border: none;
border-radius: 3rem
}

/*product section */

.product{
width: 80%;
margin-left: auto;
margin-right: auto;

}

.product_list_item {
   float: left;
   margin-top: 1rem;
   width: 23%;
   margin-left: 1rem;

}

.product_list_item: first-of-type{
   margin left: 0;

}
@media screen and (max-width: 700px){
   .product_list_item {
      width: 100%;
      float: none;
   }
